# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.venv/

# Data
data/raw/
data/processed/

# Model artifacts (committed for EC2 deployment)
# models/

# Submission
submission/

# Logs
logs/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
notebooks/

# Testing
.pytest_cache/
